@media screen and (max-width: 1200px) {
    #hero p {
        font-size: .9rem;
    }

    #hero h1 {
        font-size: 2.3rem;
    }

    .project-card {
        flex-basis: 45%; 
    }

    #hero .row {
        padding-bottom: 75px;
    }
}

@media screen and (max-width: 768px) {
    #hero img {
        width: 40%;
    }

    #hero h2 {
        padding-top: 30px;
    }

    #hero .row {
        padding-bottom: 100px;
    }

    .social-icon {
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
    }

    #about p {
        text-align: justify !important;
    }

    .btn-custom1 {
        width: 80%;
        margin-bottom: 20px;
    }

    #skill .card h1 {
        font-size: 1.3rem;
    }

    #skill .card {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-top: 30px !important;
    }

    .project-card {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px) {
    hr {
        width: 75%;
    }

    h1 {
        font-size: 2rem;
    }

    footer p {
        font-size: .8rem;
    }

    #hero .row {
        padding-bottom: 125px;
    }

    #hero svg {
        width: 30px;
    }
}

@media screen and (max-width: 350px) {}